.wrapper {
          display: flex;
          flex-direction: column;
          text-align: left;
          padding: 20px;
}

.preview {
          border: 1px solid darkgray;
          padding: 10px;
}

.wrapper button {
          background: none;
          border: 1px solid black;
          margin-top: 10px;
}

